@media (max-width: 300px) {
  body{
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 767.98px) {

  #hero {
    display: none;
  }

  #hero-mh {
    display: none;
  }
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }

  #hero-mh-m {
    width: 100%;
    height: 95vh;
    background: url("../img/background/background-index-mobile.jpg") top no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    display: grid;
    min-height: -webkit-fill-available;
  }

  #hero-mh-m .hero-moh-img {
    text-align: center;
  }

  .text-moh-1 {
    color: #007F8C;
    font-size: 35px;
    font-weight: 600;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 40px;
  }

  .text-moh-2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 40px;
  }

  .line-box {
    padding: 8px 15px;
    width: 40%;
    height: 50px;
    border: 2px solid #007F8C;
    border-radius: 22px;
  }

  .line-box .line {
    height: 30px;
    background: #007F8C;
    border-radius: 100px;
    animation: loading 6s linear infinite alternate;
  }

  .line-text {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
    color: #fff;
    margin-bottom: -40px;
  }

  @keyframes loading {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #hero {
    display: none;
  }

  #hero-mh-m {
    display: none;
  }

  #hero-mh {
    width: 100%;
    height: 100vh;
    background: url("../img/tap-1.png") top right no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    display: grid;
  }

  #hero-mh .hero-moh-img {
    text-align: center;
  }

  .text-moh-1 {
    color: #afb0b1;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Montserrat';
    line-height: 50px;
  }

  .text-moh-2 {
    color: #d8bf90;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Montserrat';
    line-height: 50px;
  }

  .line-box {
    padding: 8px 15px;
    width: 40%;
    height: 50px;
    border: 2px solid #d8bf90;
    border-radius: 22px;
  }

  .line-box .line {
    height: 30px;
    background: #d4d4d4;
    border-radius: 100px;
    animation: loading 6s linear infinite alternate;
  }

  .line-text {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
    color: #3b3b3b;
    margin-bottom: -40px;
  }

  @keyframes loading {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  #hero-mh-m {
    display: none;
  }

  #hero-mh {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat";
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/background/background-web.png") top right no-repeat;
    background-size: cover;
    position: relative;
  }

  @media (min-width: 992px) {
    #hero {
      padding-left: 0;
    }
  }

  #hero:before {
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    margin: 0;
    font-size: 53.8px;
    font-weight: 600;
    line-height: 56px;
    color: #007F8C;
    /* font-family: "M PLUS 1"; */

  }

  #hero p {
    color: #45505b;
    margin: 5px 0 40px 0;
    font-size: 53.8px;
    font-weight: 700;
    font-family: "Montserrat";
  }

  #hero p span {
    color: #d8bf90;
    letter-spacing: 1px;
  }

  #hero .social-links {
    margin-top: 40px;
  }

  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }

  #hero .social-links a:hover {
    color: #0563bb;
  }

  @media (max-width: 992px) {
    #hero {
      text-align: center;
    }

    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }

    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .line-box {
    padding: 8px 15px;
    width: 40%;
    height: 50px;
    border: 2px solid #007F8C;
    border-radius: 22px;
  }

  .line-box .line {
    height: 30px;
    background: #007F8C;
    border-radius: 100px;
    animation: loading 6s linear infinite alternate;
  }

  .line-text {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    margin-bottom: -40px;
  }

  @keyframes loading {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }

  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }

  .section-title p {
    margin-bottom: 0;
  }

  #hero-mh {
    display: none;
  }
}

